<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Zachary Geier's Personal Site",
    "url": "https://www.zdgeier.com",
    "potentialAction": {
    "@type": "SearchAction",
    "target": "{search_term_string}",
    "query-input": "required name=search_term_string"
    }
}
</script>
<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Zachary Geier",
    "url": "https://www.zdgeier.com",
    "image": "https://zdgeier.com/assets/images/me.jpg",
    "sameAs": [
        "https://www.facebook.com/zachary.d.geier",
        "https://www.twitter.com/zdgeier",
        "https://www.linkedin.com/in/zdgeier/",
        "https://www.github.com/zdgeier",
        "https://www.zdgeier.com"
    ],
    "jobTitle": "Software Engineer, Consulting",
    "worksFor": {
    "@type": "Organization",
        "name": "Yext"
    }  
}
</script>